@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@import '../custom-footer/footer.css';
@import '../colors-variables.css';
@import '../style.css';

* {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--custom-bg);
    margin-bottom: 5%;
}


.img-tetris {
    width: 200px;
    margin-top: -20%;
    margin-bottom: 10%;
}

.jogo {
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tela-jogo {
    width: 400px;
}


.ranking {
    background-color: var(--white);
    border-bottom: 15px solid var(--black);
    border-left: 4px solid var(--black);
    border-right: 4px solid var(--black);
    border-radius: 30px;
    width: 220px;
    height: 480px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.ranking p:first-child{
    font-size: 16px;
    font-weight: bold;
}

.conteudo p:first-child{
    font-size: 12px;
    font-weight: bold;
}

.conteudo p:nth-child(2){
    color: var(--gray);
    font-size: 14px;
    font-weight: bold;
    margin-top: -10px;
}

span{
    color: var(--pink);
    margin-left: 75px;
    margin-right: 75px; 
}


.display-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.game-frame {
    border-right: 3px solid var(--black);
    border-bottom: 14px solid var(--black);
    border-left: 3px solid var(--black);
    background-color: white !important;
    width: 200px;
    height: 200px;
    margin: 20px 2px 0px 0px;
    border-radius: 24px;
    flex-direction: column;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.cards-esquerda {
    margin-left: 8%;
    display: flex;
    flex-direction: column;

} 

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 4px;
    margin-top: 6%;
}

.orange-text {
    color: var(--orange);
    font-size: 30px;
    margin-top: 0px;
}

.pink-text {
    color: var(--pink);
    margin-top: 0px;
}

.botao {
    display: flex;
    height: 30px;
    margin-top: 5%;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    color: var(--black);
    border-radius: 20px;
    border-top: 3px solid var(--black);
    border-right: 5px solid var(--black);
    border-bottom: 10px solid var(--black);
    border-left: 5px solid var(--black);
    padding: 10px 20px;
    font-weight: bold;
}

.botaoPerfil {
    background: var(--orange);
    width: 150px;
} 

.botaoSair {
    background: var(--yellow);
    width: 150px;
}

.botaoRankingGlobal{
    width: 195px !important;
    background: var(--pink);
    margin-top: 10%;
}

.cards-direita {
    flex-direction: column;
    margin-left: 10%;
}