@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@import '../style.css';

* {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #7945FF;
}

header {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0px 30px 0px;
    display: flex;
    height: 30px;
    align-items: center;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between !important;
    width: 100% !important;
    margin: 0px 50px 0px 50px;
}

nav a {
    color: #000000 !important;
    text-decoration: none; 
    margin: 0 10px;
}

/* main{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
} */

.img-tetris {
    width: 200px;
}

.jogo {
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tela-jogo {
    width: 400px;
}


.ranking {
    background-color: #FFFFFF;
    border-bottom: 15px solid #000000;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    border-radius: 30px;
    width: 220px;
    height: 480px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.ranking p:first-child{
    font-size: 16px;
    font-weight: bold;
}

.conteudo p:first-child{
    font-size: 12px;
    font-weight: bold;
}

.conteudo p:nth-child(2){
    color: #696969;
    font-size: 14px;
    font-weight: bold;
    margin-top: -10px;
}

span{
    color: #FD6687;
    margin-left: 75px;
    margin-right: 75px; 
}


.display-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.game-frame {
    border-right: 3px solid #000;
    border-bottom: 14px solid #000;
    border-left: 3px solid #000;
    background-color: white !important;
    width: 200px;
    height: 200px;
    margin: 20px 2px 0px 0px;
    border-radius: 24px;
    flex-direction: column;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.cards-esquerda {
    margin-left: 8%;
    display: flex;
    flex-direction: column;

} 

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 4px;
    margin-top: 6%;
}

.orange-text {
    color: #F89622;
    font-size: 30px;
    margin-top: 0px;
}

.pink-text {
    color: #FD6687;
    margin-top: 0px;
}

.botaoPerfil {
    display: flex;
    margin-top: 5%;
    width: 150px;
    height: 30px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    color: black;
    border-radius: 20px;
    border-top: 3px solid #000;
    border-right: 5px solid #000;
    border-bottom: 10px solid #000;
    border-left: 5px solid #000;
    background: #f89622;
    padding: 10px 20px;
    font-weight: bold;
} 

.botaoSair {
    display: flex;
    width: 150px;
    margin-top: 5%;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    color: black;
    border-radius: 20px;
    border-top: 3px solid #000;
    border-right: 5px solid #000;
    border-bottom: 10px solid #000;
    border-left: 5px solid #000;
    background: #ffce69;
    padding: 10px 20px;
    font-weight: bold;
}

.botaoRankingGlobal{
    display: flex;
    width: 180px;
    height: 30px;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    color: black;
    border-radius: 20px;
    border-top: 3px solid #000;
    border-right: 5px solid #000;
    border-bottom: 10px solid #000;
    border-left: 5px solid #000;
    background: #fd6687;
    padding: 10px 20px;
    margin-top: 10%;
    font-weight: bold;
}

.cards-direita {
    flex-direction: column;
    margin-left: 10%;
}