:root {
    --pink: #fd6687;
    --pink-hover: #ff7aa8;
    --yellow: #ffce69;
    --yellow-hover: #ffdf8c;
    --black: #000000;
    --white: #ffffff;
    --dark-purple: #23053F;
    --gray: #696969;
    --orange: #f89622;
    --dark-brown:#74562c;
    --purple: #5c2dd5;
    --custom-bg: #7945FF;
}
