@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@import '/header.css';
@import '../structure/structure.css';
@import '../style.css';
@import './custom-footer/footer.css';
@import './colors-variables.css';

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background-color: var(--custom-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    min-height: 100%;
    box-sizing: border-box;
}

header {
    overflow: hidden;
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0px 30px 0px;
    display: flex;
    height: 30px;
    align-items: center;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between !important;
    width: 100% !important;
    margin: 0px 50px 0px 50px;
}

nav a {
    color: var(--black) !important;
    text-decoration: none; 
    margin: 0 10px;
}

#tetris-logo {
    width: 550px; 
    height: 550px;
    margin-left: 50px;
}


.formulario{
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 60px;
    background-color: var(--white);
    margin-left: 8%;
    height: 70vh;
    width: 30%;
}

.pLogin{
    font-weight: bold;
    font-size: 6vh;
    background-color: var(--white) !important;
}

.username{
    color: var(--white);
    background-color: var(--pink);
    border-radius: 3.2vh;
    border-top: 0.5vh solid var(--black);
    border-right: 0.5vh solid var(--black);
    border-left: 0.5vh solid var(--black);
    border-bottom: 1.3vh solid var(--black);
    padding: 10px;
    height: 7vh;
    width: 53vh;

}

.username::placeholder{
    color: var(--white);
    font-size: 3vh;
    font-weight: bold;
}

.senha{
    color: var(--dark-brown);
    background-color: var(--yellow);
    border-radius: 3.2vh;
    border-top: 0.5vh solid var(--black);
    border-right: 0.5vh solid var(--black);
    border-left: 0.5vh solid var(--black);
    border-bottom: 1.3vh solid var(--black);
    padding: 10px;
    height: 7vh;
    width: 53vh;
}

.senha::placeholder{
    color:  var(--dark-brown);
    font-size: 3vh;
    font-weight: bold;
}


input{
    margin: 8px;
}

.botaoIndex {
    display: flex;
    width: 10vh;
    height: 6vh;
    text-decoration: none;
    font-size: 4vh;
    justify-content: center;
    color: var(--white)!important;
    border-radius: 3.9vh;
    border-top: 0.5vh solid var(--black);
    border-right: 0.5vh solid var(--black);
    border-left: 0.5vh solid var(--black);
    border-bottom: 1.5vh solid var(--black);
    background: var(--purple)!important;
    padding: 1vh 1vw;
    margin: auto;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 5%;
}

.pCadastre{
    font-weight: bold;
    background-color: var(--white) !important;
    color: var(--black);
    cursor:pointer;
    font-size: 3vh;
}

.aCadastre{
    background-color: var(--white);
    color: var(--black);
}

.pCadastre:visited{
    color: var(--black);
}