@import '../colors-variables.css';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;

}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
}

p {
    margin-top: 65px;
    margin-bottom: 20px;
    color: var(--white);
}

.botaoIndex {
    display: flex;
    width: 40px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    color: var(--white) !important;
    border-radius: 60px;
    border-top: 3px solid var(--black);
    border-right: 5px solid var(--black);
    border-bottom: 10px solid var(--black);
    border-left: 5px solid var(--black);
    background: var(--purple);
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;
}

.botaoCadastro_e_alterarPerfil {
    display: flex;
    width: 40px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    color: var(--white);
    border-radius: 60px;
    border-top: 3px solid var(--white);
    border-right: 5px solid var(--white);
    border-bottom: 10px solid var(--white);
    border-left: 5px solid var(--white);
    background: var(--purple);
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;

}

.perfil {
    display: flex;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    color: var(--black);
    border-radius: 20px;
    border-top: 3px solid var(--black);
    border-right: 5px solid var(--black);
    border-bottom: 10px solid var(--black);
    border-left: 5px solid var(--black);
    background: var(--orange);
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;
}

.botaoPerfil {
    display: flex;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    color: black;
    border-radius: 20px;
    border-top: 3px solid var(--black);
    border-right: 5px solid var(--black);
    border-bottom: 10px solid var(--black);
    border-left: 5px solid var(--black);
    background: var(--orange);
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;
}

.botaoSair {
    display: flex;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    color: var(--black);
    border-radius: 20px;
    border-top: 3px solid var(--black);
    border-right: 5px solid var(--black);
    border-bottom: 10px solid var(--black);
    border-left: 5px solid var(--black);
    background: var(--yellow);
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;
}

.botaoRankingGlobal {
    display: flex;
    width: 200px;
    height: 30px;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    color: var(--black);
    border-radius: 20px;
    border-top: 3px solid var(--black);
    border-right: 5px solid var(--black);
    border-bottom: 10px solid var(--black);
    border-left: 5px solid var(--black);
    background: var(--pink);
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;
}

.botaoEntendiTudo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 70px;
    text-decoration: none;
    font-size: 25px;
    color: var(--black);
    border-radius: 30px;
    border-top: 5px solid var(--black);
    border-right: 5px solid var(--black);
    border-bottom: 15px solid var(--black);
    border-left: 5px solid var(--black);
    background: var(--yellow);
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;
}