/*
Para usar em outro css, basta importar o arquivo button.css
e usar a classe pink-button - Exemplo: <input type="button" class="pink-button" value="Nome Completo">
ou a classe yellow-button - Exemplo: <input type="button" class="yellow-button" value="Regras Do Jogo">
ou a classe rulles-button - Exemplo: <button class="rulles-button">Regras Do Jogo</button>
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@import '../colors-variables.css';

* {
    font-family: 'Montserrat', sans-serif;
}

.button {
    border-radius: 3.2vh;
    border-top: 0.5vh solid var(--black);
    border-right: 0.5vh solid var(--black);
    border-left: 0.5vh solid var(--black);
    border-bottom: 1.3vh solid var(--black);
    padding: 10px;
    height: 9vh;
    width: 50vh;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.pink-button {
    color: var(--white);
    background-color: var(--pink);
}

.pink-button:hover, .pink-button:focus {
    background-color: var(--pink-hover);
    cursor: pointer;
}

.pink-button:active {
    border-bottom: 0.5vh solid var(--black);
    position: relative;
    top: 1.3vh;
}

.yellow-button {
    color: black;
    background-color: var(--yellow);
    padding: 15px;
}

.yellow-button:hover, .yellow-button:focus {
    background-color: var(--yellow-hover);
    cursor: pointer;
}

.yellow-button:active {
    border-bottom: 0.5vh solid var(--black);
    position: relative;
    top: 1.3vh;
}

.pink-button-input {
    color: var(--white); 
    background-color: var(--pink);
}

.pink-button-input-disabled {
    color: var(--white); 
    background-color: var(--light-pink);
}

.pink-button-input::placeholder{
    color: var(--white-shadow)
}

.pink-button-input:hover, .pink-button-input:focus {
    background-color: var(--pink-hover);
}

.yellow-button-input {
    color: var(--black); 
    background-color: var(--yellow);
}

.yellow-button-input:hover, .yellow-button-input:focus {
    background-color: var(--yellow-hover);
}

.yellow-button-input::placeholder{
    color: var(--black);
}
