@import '../structure/structure.css';
@import '../style.css';
@import '../custom-footer/footer.css';
@import '../botao/botao.css';

.card h1 {
    background: none;
    font-style: bold;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card ul, li, b{
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
    text-align: justify;
    margin-top: 1%;
}

.card {
    text-align: center;
    height: calc(100vh - 350px);
    width: 60%;
    margin: 0 auto;
    padding: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    
}

.rules {
    margin-top: 5%;
}

.round-card {
    transform: translateX(240%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 3.5%;
    top: 0px;
    background-color: #fd6687;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.botaoEntendiTudo {
    margin-top: 0%;
    height: 65px;
}


